#main{
    padding: 2rem;
}
.genres{
    padding: 1rem;
    background-color: #ccc;
}
.filterBtn{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
button{
    padding: 10px 20px;
    background-color: #f2f2f2;
}

table{
    width: 100%;
    margin: 2rem;
}
th, td{
    text-align: left;
    padding: 7px 0px;
}
